{% extends 'layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adjustments.css' %}">
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-8">
        <h1 class="bold">Developer Update</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="{% url 'backend-dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <strong>Developer Update</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    {% for row in version %}
                        <div class="ibox">
                            <div class="ibox-title">
                                <p>
                                    <a href="#collapse-{{ row.id }}" class="text-default" data-toggle="collapse">
                                        <em><span class="bold">{{ row.title }}</span> - Release Date ({{ row.release_date }})</em>
                                    </a>
                                </p>
                            </div>
                            <div id="collapse-{{ row.id }}" class="collapse">
                                <div class="ibox-content">
                                    {{ row.description|safe }}
                                </div>
                            </div>
                        </div>
                        {% if not forloop.last %}<hr>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}